html {
    background-color: lightslategray;
}

body {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 95vh;
}

.header {
    text-align: center;
}

#mainContainer {
    padding-left: 25px;
    padding-right: 25px;
}

.flexForm {
    display: flex
}

.flex1{
    flex: 1;
}

input {
    height: 25px;
    border-radius: 4px;
    margin-right: 18px;
}

.defaultVerticalSpacing {
    padding-top: 25px;
}

.todoSearch {
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 25px;
}

.todoList {
    display: block;
    padding-inline-start: 0;
}

ul li {
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

ul li:hover {
    background: #ddd;
}


.listItemDescriptionStyle {
    border-bottom: 1px solid;
    display: inline-block;
    width: 90%;
    margin-left: 12px;
    margin-right: 12px;
}

ul li.checked span.listItemDescriptionStyle {
    color:gray;
    text-decoration: line-through;
}

.tickIconStyle {
    cursor: pointer;
}
