<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>My Tdod App!</title>
</head>
<body>
    <h1 class="header"> Things To Do!</h1>
    <h3 class="header"> &gt;-----------&lt;&gt;-----------&lt;</h3>



    <div id="mainContainer">  
        <form class="flexForm">
            <input class="flex1" placeholder="Todo task..." type="text">
            <input type="submit" value="Add Task">
        </form>    
    </div>

</body>
</html>
