<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="myScript.js"></script> 
    <title>My Todo App!</title>
</head>
<body onload="fetchTodoTasks()">
    <h1 class="header"> Things To Do!</h1>
    <h3 class="header"> &gt;-----------&lt;&gt;-----------&lt;</h3>



    <div id="mainContainer">  
        <form class="flexForm">
            <input class="flex1" placeholder="Todo task..." type="text">
            <input type="submit" value="Add Task">
        </form>   
        
        <form class="flexForm defaultVerticalSpacing">
            <input class="flex1 todoSearch" type="search" placeholder="Search"/>
        </form>
        
        <ul class="defaultVerticalSpacing todoList">
            <li>
                <span>&#x2610</span>
                <span class="listItemDescriptionStyle">Placeholder TODO Item</span>
                <span>X</span>
            </li>

            <li class="checked">
                <span>&#x2611</span>
                <span class="listItemDescriptionStyle">Placeholder TODO Item slightly longer </span>
                <span>X</span>
            </li>
        </ul>
        
    </div>

</body>
</html>
